html, body {
	width: 98%;
	height: 100%;
	background-color: #242424;
}

.toppad {
  width: 100%;
  height: 10%;
}

.leftpad {
  float: left;
  width: 9%;
  height: 100%;
}

.column {
  float: left;
  width: 62%;
  margin-right: 18px;
  padding: 0 12px;
}

.sidebar {
  width: 20%;
  height: 100%;
  float: left;
}

.sidebar-elements, .sidebar-elements a {
  margin: 0 0 64px 0;
  font-family: verdana, sans-serif;
  font-size: 13pt;
  color: white;
  line-height: 140%;
  width: 100%;
}

h1, h1 a {
  font-family: monospace;
  font-size: 30pt;
  color: white;
}

h2, h2 a {
  margin: 0 0 6px 0;
  font-family: monospace;
  font-size: 17pt;
  color: white;
  font-style: italic;
}

h3, h3 a {
  font-family: monospace;
  font-size: 15pt;
}

p {
font-family: verdana, sans-serif;
font-size: 13pt;
color: white;
text-align: justify;
}

@media only screen and (max-width: 1000px) {
	.leftpad {
		display: none;
	}

	.toppad {
		display: none;
	}

	.column {
		width: 100%;
	}

	.sidebar {
		width: 100%;
		margin-top: 12%;
		padding-left: 1%;
		min-width: 200px;
	}

	.sidebar-elements {
		width: 45%;
		height: 150px;
		float: left;
	}
}
