html, body {
    width: 100%;
    font-family: calibri, sans-serif;
    font-size: 14pt;
}

#left {
    float: left;
    width: 20%;
    margin: 120px 80px 0 0;
}

#right {
    float: left;
    width: 50%;
    margin-top: 120px;
}

.ticket {
    width: 98%;
    height: 100px;
    margin: 1%;
    background-color: #cff;
}
